In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./user.csv")

In [25]:
a = df[df['name'] == 'mytam']['gioi tinh'].values[0]
a

'nữ'

In [ ]:
a

         Name vietnamese_name           price  color    type
0  cell phone      Điện thoại  Năm Triệu đồng  Trắng  iphone

In [7]:
df['name'][1]

'mytam'

In [11]:
a['price'].values[0]

'Năm Triệu đồng'